html,
body,
#root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.route-loading {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #e4fff7;
  color: #4c7a70;
  font-size: 16px;
}
